<main class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4 text-black">Dashboard</h1>
      <a href="/newpost" class="btn btn-secondary">Add a New Book</a>
    </div>
  </div>
  <br>
  <h1 class="mb-4 text-black">Book Loom Contributions:</h1>
  {{#each posts}}
    <div class="post-container post mb-3">
      <h2><a href="/post/{{id}}" class="text-decoration-none text-reset custom-text-color" style="font-style: italic;">
        {{title}}
      </a></h2>
      <p class="custom-text-color">By: {{author}}</p>
      <p class="text-dark">Owner: {{user.username}} | Date: {{format_date createdAt}}</p>
      <a href="/editpost/{{id}}" class="btn btn-secondary">Edit Book</a>
      <button class="btn btn-danger delete-post" data-post-id="{{id}}">Delete</button>
    </div>
  {{/each}}
</main>
